.cardGrid {
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: 920px;
  flex-wrap: wrap;
  list-style: none;

}

.card {
  position: relative;
  border: 2px solid red;
  flex: 1 1 25%;
  line-height: 0;
}

.cardImage {
  position: relative;
  width: 100%;
  height: auto;
}

.card a {
  position: relative;
  display: inline-block;
}
